In [37]:
# Packages install

!pip3 install requests
!pip3 install pandas

Requirement already satisfied: requests in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (2.28.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.0.1)
Requirement already satisfied: idna<4,>=2.5 in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (from requests) (1.26.14)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (from requests) (2022.12.7)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gabrielsantosmeirele\appdata\roaming\python\python311\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in c:\users\gabrielsantosmeirele\appdata\local\programs\python\python311\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

[notice] A new release of pip available: 22.3.1 -> 23.2.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [61]:
# Functions import

from helpers.download_file import download_and_extract_file
from helpers.format_to_millions import format_to_millions
from helpers.get_sum_data import get_sum_data

import os
import pandas as pd

In [39]:
# Download the dataset

url = "https://www.camara.leg.br/cotas/Ano-2023.csv.zip"
download_and_extract_file(url, output_dir="data")

In [40]:
df = pd.read_csv('./data/Ano-2023.csv', delimiter=";")
df.head()

,txNomeParlamentar,cpf,ideCadastro,nuCarteiraParlamentar,nuLegislatura,sgUF,sgPartido,codLegislatura,numSubCota,txtDescricao,...,numParcela,txtPassageiro,txtTrecho,numLote,numRessarcimento,datPagamentoRestituicao,vlrRestituicao,nuDeputadoId,ideDocumento,urlDocumento
0,LID.GOV-CD,NaN,NaN,NaN,2023,NaN,NaN,57,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,0,NaN,NaN,1911524,NaN,NaN,NaN,2812,7503781,https://www.camara.leg.br/cota-parlamentar/doc...
1,LID.GOV-CD,NaN,NaN,NaN,2023,NaN,NaN,57,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,0,NaN,NaN,1948548,NaN,NaN,NaN,2812,7570656,https://www.camara.leg.br/cota-parlamentar/doc...
2,LID.GOV-CD,NaN,NaN,NaN,2023,NaN,NaN,57,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,0,NaN,NaN,1922139,NaN,NaN,NaN,2812,7522817,https://www.camara.leg.br/cota-parlamentar/doc...
3,LID.GOV-CD,NaN,NaN,NaN,2023,NaN,NaN,57,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,0,NaN,NaN,1928655,NaN,NaN,NaN,2812,7534930,https://www.camara.leg.br/cota-parlamentar/doc...
4,LID.GOV-CD,NaN,NaN,NaN,2023,NaN,NaN,57,1,MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...,...,0,NaN,NaN,1939355,NaN,NaN,NaN,2812,7553911,https://www.camara.leg.br/cota-parlamentar/doc...

In [66]:
txtDescricaoCusto = get_sum_data(df, ['txtDescricao'], 'vlrDocumento', 'Custo', 'Custo')
txtDescricaoCusto.head(10)

                                         txtDescricao  Custo
4                DIVULGAÇÃO DA ATIVIDADE PARLAMENTAR.  37.0M
14                            PASSAGEM AÉREA - SIGEPA  23.7M
9       LOCAÇÃO OU FRETAMENTO DE VEÍCULOS AUTOMOTORES  18.2M
10  MANUTENÇÃO DE ESCRITÓRIO DE APOIO À ATIVIDADE ...  14.1M
2                       COMBUSTÍVEIS E LUBRIFICANTES.   9.7M
3       CONSULTORIAS, PESQUISAS E TRABALHOS TÉCNICOS.   1.6M
19                                          TELEFONIA   1.3M
6   HOSPEDAGEM ,EXCETO DO PARLAMENTAR NO DISTRITO ...   1.2M
13                               PASSAGEM AÉREA - RPA   1.2M
7                  LOCAÇÃO OU FRETAMENTO DE AERONAVES   1.0M

In [72]:
sgPartidoCusto = get_sum_data(df, ['sgPartido'], 'vlrDocumento', 'Custo', 'Custo')
sgPartidoCusto.head(10)

       sgPartido  Custo
7             PL  19.9M
16            PT  15.3M
22         UNIÃO  12.8M
9             PP  11.4M
13           PSD   9.5M
20  REPUBLICANOS   9.4M
2            MDB   8.9M
6            PDT   4.2M
11           PSB   3.7M
14          PSDB   3.4M

In [71]:
txNomeParlamentarCusto = get_sum_data(df, ['txNomeParlamentar', 'sgPartido'], 'vlrDocumento', 'Custo', 'Custo')
txNomeParlamentarCusto.head(10)

         txNomeParlamentar sgPartido Custo
318        Giovani Cherini        PL  0.4M
683           Ruy Carneiro       PSC  0.4M
300          General Girão        PL  0.3M
463         Luizianne Lins        PT  0.3M
504       Maria do Rosário        PT  0.3M
193    Delegado Éder Mauro        PL  0.3M
680  Rubens Pereira Júnior        PT  0.3M
770             Átila Lins       PSD  0.3M
140    Coronel Chrisóstomo        PL  0.3M
698           Sidney Leite       PSD  0.3M

In [70]:
supplier_mapping = {
  'Cia Aérea - GOL': 'GOL',
  'Cia Aérea - TAM': 'TAM'
}

df['txtFornecedor'] = df['txtFornecedor'].replace(supplier_mapping)
txtFornecedorCusto = get_sum_data(df, ['txtFornecedor'], 'vlrDocumento', 'Custo', 'Custo')
txtFornecedorCusto.head(10)

                                txtFornecedor  Custo
14194                                     TAM  14.3M
6412                                      GOL   6.4M
2705                                     AZUL   4.0M
9844                   PANTANAL VEÍCULOS LTDA   1.3M
14082                 SUPREMA MOBILIDADE LTDA   0.7M
9548        NOVACAR LOCADORA DE VEICULOS LTDA   0.6M
14496             Telefônica Brasil S.A. VIVO   0.5M
6993           HPE AUTOMOTORES DO BRASIL LTDA   0.4M
4847                 DALETH VEICULOS LTDA EPP   0.4M
5380   ELDORADO COMUNICACAO E JORNALISMO LTDA   0.4M

In [59]:
grouped_data = df.groupby('numMes')['vlrDocumento'].sum()
top_party_df = grouped_data.reset_index(name='TotalExpense').sort_values(by='TotalExpense', ascending=False)

top_party_df['TotalExpense'] = top_party_df['TotalExpense'].apply(format_to_millions)

top_party_df.head(10)

   numMes TotalExpense
2       3        21.4M
3       4        20.3M
4       5        20.0M
1       2        16.6M
0       1        15.8M
5       6        14.2M
6       7         3.5M